<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../assets/images/logo.png" />
    <link rel="stylesheet" href="../../assets/css/global.css" />
    $CSS_LINK
    <script src="../../navbar.js" defer></script>
    $SCRIPT_LINK

    <title>$TAB_TITLE</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-center">
          <div class="logo-div">
            <a href="/welcome">
              <img class="nav-logo" src="../assets/images/logo-and-text-transparent-background-resized.png" alt=""  />
            </a>
          </div>
          <div class="nav-links">
            <a class="nav-link" href="/login">Login</a>
          </div>
        </div>
      </nav>
    </header>
