/*
=============== 
Variables
===============
*/

:root {
  --primary500: #6bab90;
  --primary550: #87ad9e;
  --primary600: #55917f;
  --primary700: #095256;
  --primary800: #084749;
  
  --secondary400: #fedb34;
  --secondary500: #df8601;
  --secondary600: #b76e01;
  
  --tertitary400: #494e5a;
  --tertitary500: #2a2d34;
  --tertitary600: #1b1d22;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary-5);
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}


